html {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  box-shadow: 0 3px 6px #00000033;
}

.logo {
  width: 93px;
  height: 69px;
}

.navbar li {
  display: inline-block;
  padding: 8px 18px;
  transition: 0.8s all;
}

li a {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: black;
  text-decoration: none;
  padding: 24px;
}

li {
  list-style: none;
}

.navbar li a:hover {
  background: black;
  cursor: pointer;
  color: white;
}

.search {
  position: relative;
}

.search i {
  position: absolute;
  right: 5px;
  top: 25px;
  color: grey;
}

input {
  background: transparent;
  border: none;
  border-left: 1px solid white;
  padding: 28px;
}

.main {
  background-color: black;
}

.container {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  height: 400px;
  width: 90%;
  margin: auto;
  padding: 30px 40px;
}

.side-left {
  flex: 1;
  background: linear-gradient(45deg, #000000, transparent),
    url(images/boruto.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
  margin-right: 10px;
}

.side-right {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: space-around;
}

.side-1 {
  background: linear-gradient(45deg, #000000, transparent),
    url(images/one-piece.jpg);
  width: 45%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  margin-bottom: 20px;
}

.side-2 {
  background: linear-gradient(45deg, #000000, transparent),
    url(images/myhero.jpg);
  width: 45%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  margin-bottom: 20px;
}

.side-3 {
  background: url(images/assasin.jpg);
  width: 45%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: flex-end;
}

.side-4 {
  background: linear-gradient(45deg, #000000, transparent),
    url(images/demon.jpg);
  width: 45%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: flex-end;
}

.container p a {
  color: white;
  text-decoration: none;
}

.container p a:hover {
  color: #afeeee;
}

.content {
  width: 90%;
  margin: auto;
}

.content-heading {
  display: flex;
  align-items: center;
}

.content-heading p {
  margin-left: auto;
}

.content-heading p a {
  text-decoration: none;
  color: skyblue;
}

.content-heading p a:hover {
  color: red;
}
.content-images {
  display: flex;
  flex-wrap: wrap;
  height: 400px;
  justify-content: space-between;
}

.content-image-1 {
  background: linear-gradient(45deg, #000000, transparent),
    url(images/onepunch.jpg);
}

.content-image-2 {
  background: linear-gradient(45deg, #000000, transparent), url(images/fire.jpg);
}

.content-image-3 {
  background: linear-gradient(45deg, #000000, transparent),
    url(images/sword.jpg);
}

.content-image-4 {
  background: linear-gradient(45deg, #000000, transparent),
    url(images/silent.jpg);
}

.content-image-5 {
  background: linear-gradient(45deg, #000000, transparent),
    url(images/beastars.jpg);
}

.content-image-6 {
  background: linear-gradient(45deg, #000000, transparent),
    url(images/cautious.jpg);
}

.content-image-7 {
  background: linear-gradient(45deg, #000000, transparent),
    url(images/narutos.jpg);
}

.content-image-8 {
  background: linear-gradient(45deg, #000000, transparent),
    url(images/dragon.jpg);
}

.content-image-9 {
  background: linear-gradient(45deg, #000000, transparent),
    url(images/death.jpg);
}

.content-image-10 {
  background: linear-gradient(45deg, #000000, transparent),
    url(images/naruto.jpg);
}

.content-image-11 {
  background: linear-gradient(45deg, #000000, transparent),
    url(images/pokemon.jpg);
}

.content-image-12 {
  background: linear-gradient(45deg, #000000, transparent),
    url(images/fullmetal.jpg);
}

.content-image {
  background-repeat: no-repeat;
  background-size: cover;
  width: 32%;
  margin-bottom: 20px;
  display: grid;
  padding: 5px;
}

.content-image p:nth-child(1) {
  width: 55px;
  height: 22px;
  background: #0094d6;
  border-radius: 4px;
  color: white;
}

.content-image p:nth-child(1):hover {
  background-color: blue;
}

.content-image p:nth-child(2) {
  align-self: self-end;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 600;
}

.content-image p a {
  text-decoration: none;
  color: white;
}

.content-image p a:hover {
  color: skyblue;
}

.footer {
  display: flex;
  align-items: center;
  box-shadow: 0 3px 6px black;
  padding: 26px 30px;
  margin-top: 100px;
}

.footer-right {
  margin-left: auto;
}

.footer-right a {
  text-decoration: none;
}

.footer-left a i {
  padding-right: 30px;
  color: black;
  font-size: 20px;
}

.footer-right a {
  padding-left: 30px;
  color: black;
  font-size: 18px;
}
